<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ovrseer, the Discord bot, homepage.">
    <meta name="author" content="Dayton Taylor">
    <title>Ovrseer | <%view%></title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="favicon.ico" />
    <style>
      <%style%>
    </style>
  </head>
  <body>
    <%content%>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script>
      <%script%>
    </script>
  </body>
</html>
